/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */
   #feature{
         text-align:center;
      
         
   }
   #feature img{
         margin:0 0 20px;
   }
   #inputMessage{
         margin-top:opx;
   }
  footer{
        background:#333;
        color:#eee;
        font-size:11px;
        padding:20px;
  }
body{
    
      
      -webkit-font-smoothing:antialiased;
      text-rendering:optimizelegibility;
}


 .well .pageheader{
       margin-top: 0;
 }
 .well .pageheader h1{
       margin-top: o;
 }
 ul.unstyled {
       list-style:none;
       padding:0;
 }

/* --------------------------------------
   Navbar
   -------------------------------------- */
   
   #searchInput{
         width:200px;
   }
   .navbar-brand{
         
         padding: 13px 15px
         
   }
   
/* --------------------------------------
   Carousel
   -------------------------------------- */
   #myCarousel{
         margin-top: 20px;
   }
   .carousel-caption{
       font-size:24px;
   }
   .carousel-caption h4{
         font-size:32px;
   }
  #myCarousel .item{height:400px;}
  #slide1{
        background:  url('../../images/Carousel_Medium_01.jpg') top center no-repeat; 
  }
  #slide2{
      background:  url('../../images/Carousel_Medium_02.jpg') top center no-repeat; 
}
#slide3{
      background:  url('../../images/Carousel_Medium_03.jpg') top center no-repeat; 
}

/* --------------------------------------
   Global Styles
   -------------------------------------- */
   .alert{
         margin:20px;
         display:none;
   }
.well{
      margin-top:20px 0px;
}
.tabbable img.thumbnail{
      margin:0 20px 10px 0;
}
.thumbnails{
      margin:20px 0;
}
.thumbnail{
      position:relative;
      
}
.thumbnail h3{
      font-size:16px; 
      margin: 0 0 10px;
      line-height:20px;

}
.thumbnail .price{
      font-size:22px; 
      position:absolute;
      top:-10px;
      right:-10px;
      padding:10px;
}
.thumbnail .price sup {
      font-weight:normal;
      font-size:12px;
}
.thumbnail span.glyphicon{
      margin:5px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
      .thumbnail .price{
            font-size:10px;
      }
      .thumbnail .price sup{
            font-size:10px;
      }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
     #myCarousel.item{
            height:310px;
      }
#slide1{
      background:  url('../../images/Carousel_Small_01.jpg') top center no-repeat; 
}
#slide2{
    background:  url('../../images/Carousel_Small_02.jpg') top center no-repeat; 
}
#slide3{
    background:  url('../../images/Carousel_Small_03.jpg') top center no-repeat; 
}
.carousel-caption{
      font-size:16px;
}
.carousel-caption h4{
      font-size: 22px;
}

	
}

/* Large desktop */
@media (min-width: 1200px) {
      #myCarousel.item{height:500px; }
#slide1{
      background:  url('../../images/Carousel_Large_01.jpg') top center no-repeat; 
}
#slide2{
    background:  url('../../images/Carousel_Large_2.jpg') top center no-repeat; 
}
#slide3{
    background:  url('../../images/Carousel_large_03.jpg') top center no-repeat; 
}
	
}
.lead{
      margin-top: 0px ;
      padding: 0px 0px;
}